<!DOCTYPE html>
<html>
  <head>
    <title><%= get_content_value('home','hero', 'title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'application/favicon' %>
    <%= render 'application/metatags' %>
  </head>

  <body>
    <div id="v-app">
      <%= yield %>
    </div>
  </body>
</html>
